[core]
  ; for Windows
  ; autocrlf = false
  ; sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictStyle = zdiff3
[include]
  path = ~/dotfiles/delta/themes/catppuccin.gitconfig
[delta]
  features = catppuccin-macchiato
  navigate = true
